---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE } from "../config";

const title = "Privacy Policy";
const description = "Privacy policy for this website";
const useSeoTitleSuffix = true;
---

<Layout
  pageTitle={useSeoTitleSuffix ? `${title} - ${SITE_TITLE}` : title}
  pageDescription={description}
>
  <section class="privacy-section">
    <div class="privacy-wrapper">
      <h1 data-testid="heading">{title}</h1>
      <div class="privacy-content">
        <p>
          Your privacy is important to me. It is my policy to respect your
          privacy regarding any information I may collect from you across my
          website.
        </p>

        <p>
          I only ask for personal information when I truly need it to provide a
          service to you. I collect it by fair and lawful means, with your
          knowledge and consent. I also let you know why I am collecting it and
          how it will be used.
        </p>

        <p>
          I only retain collected information for as long as necessary to
          provide you with your requested service. What data I store, I'll
          protect within commercially acceptable means to prevent loss and
          theft, as well as unauthorised access, disclosure, copying, use or
          modification.
        </p>

        <p>
          I don't share any personally identifying information publicly or with
          third-parties, except when required to by law.
        </p>

        <p>
          My website may link to external sites that are not operated by me.
          Please be aware that I have no control over the content and practices
          of these sites, and cannot accept responsibility or liability for
          their respective privacy policies.
        </p>

        <p>
          You are free to refuse my request for your personal information, with
          the understanding that I may be unable to provide you with some of
          your desired services.
        </p>

        <p>
          Your continued use of my website will be regarded as acceptance of my
          practices around privacy and personal information. If you have any
          questions about how I handle user data and personal information, feel
          free to contact me.
        </p>

        <p>This policy is effective as of 10th of February 2021.</p>
      </div>
    </div>
  </section>
</Layout>

<style>
  .privacy-section {
    width: 100%;
    padding: 100px 20px;
    height: auto;
  }

  @media (max-width: 768px) {
    .privacy-section {
      padding: 40px 20px;
    }
  }

  .privacy-wrapper {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    padding: 0;
    height: 100%;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    padding-top: 30px;
  }

  .privacy-content :global(h2) {
    font-size: 1.25rem;
  }

  .privacy-content :global(h3) {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .privacy-content :global(p) {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
</style>
