---
import Social from "./Social.astro";
import { AUTHOR } from "../config";

const today = new Date();
---

<footer class="footer">
  <div class="content-wrapper">
    <Social width="9rem" padding="0.5rem 1.25rem" />
    <div class="footer-links">
      <p>{AUTHOR}</p>
      <p>| © {today.getFullYear()}</p>
      <a href="/privacy"> | Privacy</a>
    </div>
  </div>
</footer>
<style>
  .footer {
    width: 100%;
    background: var(--color-background);
    border-top: 1px solid var(--color-tertiary);
    padding: 0;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 1rem 20px 1rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-links {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .footer-links a,
  .footer-links p {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--color-text);
    letter-spacing: 2px;
    margin: 0;
    padding-left: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .footer-links a:hover {
    color: var(--color-primary);
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .footer-links {
      width: 100%;
      padding-bottom: 20px;
      justify-content: center;
      align-items: center;
    }

    .footer-links a,
    .footer-links p {
      font-size: 9px;
    }
  }
</style>
